body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 16px 178px 0px;
  gap: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: #E5E7EB solid 2px; */
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  font-size: 14px;
  cursor: pointer;
}

.awesome {
  display: flex; 
  color: #F9FAF8;
  gap: 46px;
  /* border: #E5E7EB solid 2px; */
  align-items: center;
  padding-bottom: 80px;
}

.awesome-text {
  display: flex;
  flex-direction: column;
  /* border: #E5E7EB solid 2px; */
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-para, ul {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-para{
  margin: 8px 0px;
}  

img {
  height: 230px;
  width: 950px;
}

.h-button, 
.c-button {
  background-color: #3882F6;
  border-radius: 8px;
  border: none;
  color: #E5E7EB;
  padding: 8px 16px;
  width: 110px;
  height: 36px;
  font-weight: 600;
  cursor: pointer;
}

.some-random {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
  margin-bottom: 56px;
}

.random-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.random {
  display: flex;
  column-gap: 44px;
  width: 108px;
  justify-content: center;
  text-align: center;
}

.box {
  height: 150px;
  width: 150px;
  border: #3882F6 solid 3.5px;
  border-radius: 8px;
  margin-top: 36px;
}

.quote {
  height: 355px;
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 12px;
  margin: 12px 0px;
  align-items: center;
  justify-content: center;
  color: #1f2937;
}

.qoute-para {
  width: 756px;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  margin-bottom: 12px;
}

.thor {
  font-weight: bold;
  font-size: 18px;
  padding-left: 400px;
}

.call {
  background-color: #3882F6;
  margin: 74px 180px;
  padding: 48px 102px;
  border-radius: 8px;
  color: #E5E7EB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-button {
  border: #E5E7EB solid;
}

.footer {
  background-color: #1f2937;
  color: #E5E7EB;
  text-align: center;
  padding: 32px;
}

